In [1]:
import pandas as pd

In [2]:
Movies = pd.read_csv(https://raw.githubusercontent.com/Waderonan/UCDPA_RonanWade/main/IMDB_movie_reviews_details.csv)

SyntaxError: invalid syntax (<ipython-input-2-c450fe1f5aba>, line 1)

In [3]:
pd.read_csv('https://raw.githubusercontent.com/Waderonan/UCDPA_RonanWade/main/IMDB_movie_reviews_details.csv')

,Unnamed: 0,name,year,runtime,genre,rating,metascore,timeline,votes,gross
0,0,The Shawshank Redemption,1994,142,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"2,394,059",$28.34M
1,1,The Godfather,1972,175,"Crime, Drama",9.2,100.0,An organized crime dynasty's aging patriarch t...,"1,658,439",$134.97M
2,2,Soorarai Pottru,2020,153,Drama,9.1,NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t...","78,266",NaN
3,3,The Dark Knight,2008,152,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,"2,355,907",$534.86M
4,4,The Godfather: Part II,1974,202,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,"1,152,912",$57.30M
...,...,...,...,...,...,...,...,...,...,...
995,995,Breakfast at Tiffany's,1961,115,"Comedy, Drama, Romance",7.6,76.0,A young New York socialite becomes interested ...,"169,575",NaN
996,996,Giant,1956,201,"Drama, Western",7.6,84.0,Sprawling epic covering the life of a Texas ca...,"34,759",NaN
997,997,Shane,1953,118,"Drama, Western",7.6,80.0,A weary gunfighter attempts to settle down wit...,"37,753",$20.00M
998,998,From Here to Eternity,1953,118,"Drama, Romance, War",7.6,85.0,"In Hawaii in 1941, a private is cruelly punish...","44,086",$30.50M
999,999,Lifeboat,1944,97,"Drama, War",7.6,78.0,Several survivors of a torpedoed merchant ship...,"26,903",NaN

In [4]:
movies = pd.read_csv('https://raw.githubusercontent.com/Waderonan/UCDPA_RonanWade/main/IMDB_movie_reviews_details.csv')
print(movies.head())

   Unnamed: 0                      name  year  runtime                 genre  \
0           0  The Shawshank Redemption  1994      142                 Drama
1           1             The Godfather  1972      175          Crime, Drama
2           2           Soorarai Pottru  2020      153                 Drama
3           3           The Dark Knight  2008      152  Action, Crime, Drama
4           4    The Godfather: Part II  1974      202          Crime, Drama

   rating  metascore                                           timeline  \
0     9.3       80.0  Two imprisoned men bond over a number of years...
1     9.2      100.0  An organized crime dynasty's aging patriarch t...
2     9.1        NaN  Nedumaaran Rajangam "Maara" sets out to make t...
3     9.0       84.0  When the menace known as the Joker wreaks havo...
4     9.0       90.0  The early life and career of Vito Corleone in ...

       votes     gross
0  2,394,059   $28.34M
1  1,658,439  $134.97M
2     78,266       NaN
3  2,355,907  $534.86M
4  1,152,912   $57.30M

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
movies.isnull().sum()

Unnamed: 0      0
name            0
year            0
runtime         0
genre           0
rating          0
metascore     159
timeline        0
votes           0
gross         171
dtype: int64

In [7]:
print(movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.2+ KB
None

In [8]:
print(movies.index)

RangeIndex(start=0, stop=1000, step=1)

In [9]:
print(movies.describe())

        Unnamed: 0      runtime       rating   metascore
count  1000.000000  1000.000000  1000.000000  841.000000
mean    499.500000   123.017000     7.954000   78.158145
std     288.819436    28.212598     0.276008   12.289270
min       0.000000    45.000000     7.600000   28.000000
25%     249.750000   103.000000     7.700000   71.000000
50%     499.500000   119.000000     7.900000   79.000000
75%     749.250000   137.000000     8.100000   87.000000
max     999.000000   321.000000     9.300000  100.000000

In [10]:
print(movies.dtypes)

Unnamed: 0      int64
name           object
year           object
runtime         int64
genre          object
rating        float64
metascore     float64
timeline       object
votes          object
gross          object
dtype: object

In [11]:
movies.columns

Index(['Unnamed: 0', 'name', 'year', 'runtime', 'genre', 'rating', 'metascore',
       'timeline', 'votes', 'gross'],
      dtype='object')

In [12]:
movies.dtypes

Unnamed: 0      int64
name           object
year           object
runtime         int64
genre          object
rating        float64
metascore     float64
timeline       object
votes          object
gross          object
dtype: object

In [13]:
movies[0:10]

,Unnamed: 0,name,year,runtime,genre,rating,metascore,timeline,votes,gross
0,0,The Shawshank Redemption,1994,142,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"2,394,059",$28.34M
1,1,The Godfather,1972,175,"Crime, Drama",9.2,100.0,An organized crime dynasty's aging patriarch t...,"1,658,439",$134.97M
2,2,Soorarai Pottru,2020,153,Drama,9.1,NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t...","78,266",NaN
3,3,The Dark Knight,2008,152,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,"2,355,907",$534.86M
4,4,The Godfather: Part II,1974,202,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,"1,152,912",$57.30M
5,5,12 Angry Men,1957,96,"Crime, Drama",9.0,96.0,A jury holdout attempts to prevent a miscarria...,"706,079",$4.36M
6,6,The Lord of the Rings: The Return of the King,2003,201,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"1,672,460",$377.85M
7,7,Pulp Fiction,1994,154,"Crime, Drama",8.9,94.0,"The lives of two mob hitmen, a boxer, a gangst...","1,862,472",$107.93M
8,8,Schindler's List,1993,195,"Biography, Drama, History",8.9,94.0,"In German-occupied Poland during World War II,...","1,236,213",$96.90M
9,9,Inception,2010,148,"Action, Adventure, Sci-Fi",8.8,74.0,A thief who steals corporate secrets through t...,"2,113,984",$292.58M

In [14]:
movies.iloc[0:10, 1:7]

,name,year,runtime,genre,rating,metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,80.0
1,The Godfather,1972,175,"Crime, Drama",9.2,100.0
2,Soorarai Pottru,2020,153,Drama,9.1,NaN
3,The Dark Knight,2008,152,"Action, Crime, Drama",9.0,84.0
4,The Godfather: Part II,1974,202,"Crime, Drama",9.0,90.0
5,12 Angry Men,1957,96,"Crime, Drama",9.0,96.0
6,The Lord of the Rings: The Return of the King,2003,201,"Action, Adventure, Drama",8.9,94.0
7,Pulp Fiction,1994,154,"Crime, Drama",8.9,94.0
8,Schindler's List,1993,195,"Biography, Drama, History",8.9,94.0
9,Inception,2010,148,"Action, Adventure, Sci-Fi",8.8,74.0

In [15]:
movies["director"].value_counts()

KeyError: 'director'

In [16]:
movies["year"].value_counts()

2004        30
2009        29
2014        28
2013        26
2006        26
            ..
III 2016     1
1920         1
I 2020       1
I 2008       1
1922         1
Name: year, Length: 118, dtype: int64